<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  rel="icon"
  type="image/png"
  href="url:./images/favicon-32x32.png"
  sizes="32x32"
/>
<link
  rel="icon"
  type="image/png"
  href="url:./images/favicon-16x16.png"
  sizes="16x16"
/>
<!-- SEO / Open Graph / Social -->
<title>WE ARE EISBERG</title>
<meta property="og:title" content="WE ARE EISBERG" />
<meta
  name="Description"
  content="We like to build great things. Preferably on the Internet."
/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@eisberg_io" />
<meta name="twitter:creator" content="@eisberg_io" />
<meta name="twitter:title" content="WE ARE EISBERG" />
<meta
  name="twitter:description"
  content="We like to build great things. Preferably on the Internet."
/>
<meta name="twitter:image" content="url:./images/ogimage.png" />
<meta
  property="og:description"
  content=" We like to build great things. Preferably on the Internet."
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://eisberg.io" />
<meta property="og:image" content="url:./images/ogimage.png" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@300&display=swap"
  rel="stylesheet"
/>
<!-- Styles -->
<link rel="stylesheet" type="text/css" href="./index.css" />
